<h3>Your Cart</h3>
{% if error %}
<div class="alert alert-danger">{{error}}</div>
{% endif %}
<div class="well">
  <ul class="list-group">
    {% for item in LineItems %}
    {% if item.orderId === cartOrder.id %}
    <li class="list-group-item"> {{item.LIProd.name}}
      <span class="badge pull-right">{{item.quantity}}</span>
      <form action="orders/{{cartOrder.id}}/lineItems/{{item.LIProdId}}?_method=DELETE" method="POST">
      <button class="btn btn-warning">Remove from Cart</button>
    </form></li>
    {% endif %}
    {% endfor %}
  </ul>
  <hr>
  <div>
      <h5>Address</h5>
      <form action="/orders/{{cartOrder.id}}?_method=PUT" method="POST">
        <input type="hidden" name='isCart' value='false'>

        <div class="form-group">
          <input class='form-control' type="text" name='address'>
        </div>
        <button class="btn btn-primary">Place Order</button>
        </form>
  </div>

</div>
