<html>
  <head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <h1>Acme Cart</h1>
      <div class="row">
        <div class="col-md-8">
            {% include 'products.html' %}
        </div>
        <div class="col-md-4">
          {% if cartOrder.id > 0 %}
          {% include 'cart.html' %}
          {% endif %}
          <div>
              {% include 'orders.html' %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
