<html>
  <head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <h1>Acme Cart</h1>
      <div class="row">
        <div class="col-md-8">
          <h3>Products</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <form action="" method="POST">
                  TEST Product
                <button class="btn btn-primary pull-right">Add to Cart</button>
              </form>
          </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Your Cart</h3>
          <div class="well">
            <ul class="list-group">
              <li class="list-group-item"> TEST Cart Item
                <form action="" method="POST">
                <button class="btn btn-warning">Remove from Cart</button>
              </form></li>
            </ul>
            <hr>
            <div>
                <h5>Address</h5>
                <form action="" method="POST">
                  <div class="form-group">
                    <input class='form-control' type="text">
                  </div>
                  <button class="btn btn-primary">Place Order</button>
                  </form>
            </div>

          </div>
          <div>
              <h3>Your Orders</h3>
              <ul class="list-group">
                  <li class="list-group-item"> TEST Order: Number
                  <ul class="list-group">
                      <li class="list-group-item"> TEST Ordered Item</li>
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
