<html>
  <head>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <h1>Acme Cart</h1>
      <div class="row">
        <div class="col-md-8">
          <h3>Products</h3>
          <ul class="list-group">
            {% for product in productArr %}
            <li class="list-group-item">
              <form action="/orders/{{order.id}}/lineItems" method="POST">
                  {{product.name}}
                  <input type="hidden" name='productId' value={{product.id}}>
                <button class="btn btn-primary pull-right">Add to Cart</button>
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          {% if order.isCart === true %}
          {% include 'cart.html' %}
          {% endif %}
          <div>
              <h3>Your Orders</h3>
              <ul class="list-group">
                  <li class="list-group-item"> TEST Order: Number
                  <ul class="list-group">
                      <li class="list-group-item"> TEST Ordered Item</li>
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
